<div class="container">
  <h1><strong class="red">Mafin</strong> - сервис для контроля <span class="green">личных</span> финансов.</h1>

  <div class="advantage">
    <p class="title">Отслеживайте свои траты и доходы</p>
    <img src="assets/transactions.png" alt="Transactions">
    <div class="buttons">
      <button><a [routerLink]="'/auth/login'">Войти</a></button>
      <button><a [routerLink]="'/auth/register'">Зарегистрироваться</a></button>
    </div>
  </div>

  <div class="advantage">
    <p class="title">Разделяйте их по категориям</p>
    <img src="assets/categories.png" alt="Categories">
    <div class="buttons">
      <button><a [routerLink]="'/auth/login'">Войти</a></button>
      <button><a [routerLink]="'/auth/register'">Зарегистрироваться</a></button>
    </div>
  </div>

  <div class="advantage">
    <p class="title">Фильтруйте их по датам</p>
    <img src="assets/filters.png" alt="Filters">
    <div class="buttons">
      <button><a [routerLink]="'/auth/login'">Войти</a></button>
      <button><a [routerLink]="'/auth/register'">Зарегистрироваться</a></button>
    </div>
  </div>

  <div class="advantage">
    <p class="title">Смотрите анализ своих трат и доходов</p>
    <img src="assets/analysis.png" alt="Analysis">
    <div class="buttons">
      <button><a [routerLink]="'/auth/login'">Войти</a></button>
      <button><a [routerLink]="'/auth/register'">Зарегистрироваться</a></button>
    </div>
  </div>
</div>
