@import "../../../../setup";

.sidebar-opener {
  cursor: pointer;
}

i {
  font-size: 36px;
  padding: 5px;
  line-height: 36px;
  color: $red;
}

.sidebar-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $red;
  transform: translateX(-100%);
  transition: ease-in-out 300ms transform;
  width: 300px;
  i {
    color: $cream;
    font-size: 24px;
    line-height: 24px;
  }
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 600ms transform;
}

.sidebar-close {
  position: fixed;
  top: 0;
  right: 0;
  color: $cream;
  cursor: pointer;
  padding: 16px;
}

.sidebar-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: $cream;
  font-size: 16px;
  padding: 16px;
  height: 100%;


  button {
    background: $cream;
    border: none;
    border-radius: 5px;
    text-align: start;
    display: flex;
    align-items: center;
    color: $red;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    justify-content: space-between;
    span {
      width: 90%;
      padding-left: 10px;
    }
    i {
      color: $red;
      font-size: 20px;
      width: 10%;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }
  a {
    cursor: pointer;
    text-decoration: underline;
    font-size: 28px;
  }
}

form {
  display: flex;
  flex-direction: column;
  h1 {
    color: $red;
    cursor: default;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }

  input[type="text"], input[type="date"], select {
    width: 100%;
    height: 40px;
    border: 2px solid $black;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
  }

  select {
    padding: 0;
    background: $totalwhite;
  }

  input[type="radio"] {
    appearance: auto;
  }

  input[type="color"] {
    border: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
  }

  .transaction-type{
    display: flex;
    gap: 10px;

    .red {
      color: $red;
    }
    .green {
      color: $green;
    }

    .custom-radio {
      position: relative;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      width: 50%;

      font-size: 24px;
    }

    .custom-radio input[type="radio"] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    .radio-check {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100px;
      margin-right: 5px;
      border: 2px solid transparent;
      border-radius: 4px;
      background-color: $totalwhite;
      font-weight: bold;
      color: $black;
      transition: all 0.3s ease;
    }

    .custom-radio input[type="radio"]:checked + .radio-check.red {
      background-color: #e74c3c;
      color: white;
    }

    .custom-radio input[type="radio"]:checked + .radio-check.green {
      background-color: #2ecc71;
      color: white;
    }

  }

  button:disabled {
    cursor: not-allowed;
  }
  button {
    background: $red;
    color: $cream;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
  }
}

label {
  color: $red;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
}
